.container {
  border-radius: 10px;
  box-shadow: #a6ccf7 0px 0px 0px 3px;
}
.text-field,
.text-field:focus {
  background-color: #faebd8;
  height: 30px;
}
label {
  font-size: 15px;
}
.error {
  position: absolute;
  color: #ff0000;
  font-size: 12px;
}
